body {
  background: url("../images/bckgrd.jpg");
  height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
  color: #e52b50;
}

h1, h2, h3, h4, a {
  font-family: 'Anton', sans-serif;
}

table tbody td {
  padding: 0;
}

.headerIcons {
  text-align: center;
}

.headerIcons button {
  float: left;
}

.title-bar .menu-icon{
  text-align: center;
}

.menu-icon {
  width: 50px;
  height: 50px;
}

.menu-icon::after {
  background: #e52b50;
   box-shadow: 0 12px 0 #e52b50, 0 24px 0 #e52b50;
   -webkit-box-shadow: 0 12px 0 #e52b50, 0 24px 0 #e52b50;
   height: 8px;
}

.menu-icon:hover::after {
  background: #888888;
  box-shadow: 0 12px 0 #888888, 0 24px 0 #888888;
}

.logMenu::after{
  width: 60px;
  margin-top: 5px;
  background: #e52b50;
   box-shadow: 0 12px 0 #e52b50, 0 24px 0 #e52b50;
   -webkit-box-shadow: 0 20px 0 #e52b50, 0 40px 0 #e52b50;
   height: 12px;
}

.logMenu:hover::after{
  background: #888888;
  box-shadow: 0 20px 0 #888888, 0 40px 0 #888888;
}

#closeButton {
  color: white;
}

#closeButton:hover {
  color: black;
}

#menuHeader {
  font-size: 3em;
  color: #e52b50;
}

#hamMenu {
  display: block !important;
  background: none;
}

.profileImg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #e52b50;
  margin-right: 15px;
  float: left;
}

#mainNav{
  background-color: #e52b50;
  width: 20vw;
  position: absolute;
  top: 0;
  z-index: 1;
  box-shadow: 0 30px 50px 15px rgba(0, 0, 0, 0.25);
}

#ribbon {
  border: 10vw solid #e52b50;
  border-top: 0;
  border-bottom: 30px solid transparent;
  bottom: -50px;
  left: 0;
  position: absolute;
  height: 55px;
}

#mainNav ul{
  width: 73%;
  margin: 0 auto;
  background-color: #e52b50;
}

#mainNav li{
  text-align: center;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}

#mainNav a{
  margin: 0 auto;
  width: 100%;
  color: white;
  font-size: 1.25em;
}

#mainNav li:last-child {
  font-size: 1.45em;
  margin-top: 20px;
}

#mainNav a:hover::after {
  content: " -";
}

#mainNav a:hover::before {
  content: "- ";
}

.pageTitles {
  border-bottom: 5px solid #e52b50;
  color: #e52b50;
  font-size: 3em;
  padding: 5px;
  width: 40%;
  text-align: center;
}

li, p {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.25;
}

#contact p{
  text-align: left;
  margin-left: 230px;
}

footer {
  background-color: #e52b50;
  color: white;
  text-align: center;
  margin-top: 20px;
  clear: both;
}

footer h3 {
  margin-top: 15px;
  text-decoration: underline;
}

#socMed {
  text-decoration: none;
}

#sM {
  margin: 0 auto;
  margin-top: 15px;
  width: 50%;
}

#sM h3, #sM a{
  float: left;
  margin: 0 5px 0 5px;
}

#trillium {
  clear: both;
}

#trillium a, #trillium p{
  float: left;
  clear: left;
}

#trillium a {
  width: 100%;
  margin-top: 40px;
}

#trillium p {
  font-size: 0.75em;
  border-bottom: 3px solid white;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
}

#ontario {
  clear: both;
  margin-top: 15px;
}

#ontario img {
  margin-right: 25px;
}

#bottomP {
  margin-bottom: 30px;
}

.contentMenu {
  background-color: #e52b50;
}

.contentMenu .button{
  font-family: 'Anton', sans-serif;
  font-size: 1.75em;
  color: white;
  background-color: #e52b50;
}

.contentMenu .button:hover{
  text-decoration: underline;
}

.aboutContent p{
  color: white;
  padding: 0 20%;
}

#process h3, #process h4{
  color: white;
  background-color: #e52b50;
}

#process {
  background-color: #e52b50;
}

.aboutContent h3, .aboutContent h4{
  text-align: center;
}

#facts h3 {
  color: #e52b50;
  text-decoration: underline;
}

#facts h4 {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e52b50;
  text-decoration: underline;
}

#registration, #donation {
  width: 48%;
  background-color: #e52b50;
}

#registration p, #donation p{
  padding: 0 5%;
  height: 500px;
}

#faq h3 {
  color: #e52b50;
  border-bottom: 3px solid #e52b50;
  width: 15%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0 0 15px 0;
}

#faq > ul > li{
  color: white;
  background-color: #e52b50;
  width: 100%;
  margin-bottom: 5px;
}

#faq > ul > li > a{
  color: white;
  width: 95%;
  font-size: 1.25em;
}

#faq > ul {
  width: 49%;
}

#faq > ul:last-child {
  margin-right: 0;
  margin-left: 10px;
}

.nested{
  list-style-type: none;
  background-color: #888888;
  margin-left: 0;
}

.accordion-menu .nested.is-accordion-submenu{
  margin-left: 0;
}

.nested p {
  padding: 2% 4%;
  background-color: #888888;
  margin-bottom: 0;
  font-size: 1em;
}

.accordion-menu .is-accordion-submenu a {
  padding: 0;
}

.nested p a {
  color: white;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  display: inline;
}

.nested a {
  text-decoration: underline;
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
  border-color: white transparent transparent;
  border-width: 10px;
  right: 0;
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  -ms-transform-origin: 50% 10%;
      transform-origin: 50% 10%;
}

.accordion-menu .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -ms-transform-origin: 50% 10%;
      transform-origin: 50% 10%;
}

#drivesBanner {
  color: white;
  background-color: #e52b50;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}

#drivesBanner p, #drivesBanner a{
  text-align: center;
  font-size: .8em;
  font-family: 'Oxygen', sans-serif;
  color: white;
  float: none;
}

#driveButton {
  color: #e52b50;
  background-color: white;
  font-family: 'Anton', sans-serif;
  border-radius: 25px;
  font-size: 2em;
  padding: 15px;
  cursor: pointer;
}


#drivesTabs .button{
  margin-top: 15px;
  font-family: 'Anton', sans-serif;
  font-size: 1.75em;
  color: white;
  background-color: #888888;
}

#drivesTabs .button:hover{
  background-color: #e52b50;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

#drivesTabs .button:active{
  background-color: #e52b50;
}

#imageTitle {
  background-color: #e52b50;
  text-align: center;
  width: 100px;
  height: 30px;
}

th {
  font-family: 'Anton', sans-serif;
  color: white;
  background-color: #e52b50;
  text-align: center;
  border: 4px solid white;
}

th h5 {
  font-family: 'Anton', sans-serif;
  font-size: 1.75em;
  margin-bottom: 0;
}

.searchBar {
  background-color: #888888;
  height: 40px;
}

.searchBar img{
  height: 40px;
  width: 40px;
  margin: 0 auto;
  float: left;
  padding: 5px;
}

.searchBar p{
  color: white;
  padding: 5px;
  margin-left: 15px;
  font-size: 1.5em;
  margin: 0 auto;
  float: left;
}

.driveInfo {
  display: inline-block;
}

.driveImage {
  padding: 0;
  border: 4px solid white;
}

.driveImage img {
  max-width: 100%;
  max-height: 100%;
}

.driveTitle{
  text-align: center;
  background-color: #888888;
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  border: 4px solid white;
}

.driveStart {
  text-align: center;
  background-color: #888888;
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 1.75em;
  border: 4px solid white;
}

.driveRegister {
  background-color: #888888;
  color: white;
  border: 4px solid white;
}

.driveMonth {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  font-size: 1.2em;
}

.monthNum {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.totalNum {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.driveTotal {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  width: 50%;
  font-size: 1.2em;
}

.pagination ul li a {
  text-align: center;
}

.pagination .current {
  background-color: #e52b50;
  color: white;
}

.pagination a {
  color: #e52b50;
}

#circles {
  text-align: center;
}

#circles a{
  color: #dddddd;
  border-radius: 50%;
  background-color: #dddddd;
}

#circles .active{
  color: #888888;
  border-radius: 50%;
  background-color: #888888;
}

.mainStory {
  background-color: #e52b50;
  color: white;
  width: 75%;
  margin: 0 auto;
  padding: 10px 20px;
}

.mainStory h4 {
  text-decoration: underline;
}

#submitStory {
  text-align: center;
  padding: 15px;
}

#shareButton {
  background: #e52b50;
  color: white;
  font-family: 'Anton', sans-serif;
  border-radius: 25px;
  font-size: 1.5em;
  padding: 15px 40px;
  cursor: pointer;
}

.userSubmitted {
  padding: 15px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.storiesBox {
  margin: auto;
  width: 80%;
}

.userStory {
  background-color: #e52b50;
  color: white;
  width: 32%;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
}

.userStoryPic {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
}

.userStory h3{
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid white;
  width: 75%;
  margin-bottom: 15px;
}

.userStory a {
  color: white;
  float: right;
}

#storiesLoad {
  font-family: 'Oxygen', sans-serif;
  color: black;
  text-align: center;
  display: block;
}

.lightBox{
  color: white;
  background-color: #e52b50;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.lightBox a{
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 2em;
}

.driveBox p, .driveBox h4{
  text-align: left;
}

.driveBox img {
  height: 100px;
  margin-right: 10px;
}

.shareStory, .supportCause {
  background: white;
  color: #e52b50;
  font-family: 'Anton', sans-serif;
  border-radius: 25px;
  font-size: 1.5em;
  padding: 15px 40px;
  cursor: pointer;
}

#forgotPassword {
  color: #e52b50;
  font-family: 'Oxygen', sans-serif;
}

#submitButton, #regButton, #loginButton, #editButton, #signOut {
  border-radius: 25px;
  background-color: #e52b50;
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  padding: 10px 30px;
  cursor: pointer;
  font-family: 'Anton', sans-serif;
}

#editButton{
  clear: both;
  margin-top: 15px;
}

#signOut {
  margin-right: 45px;
  margin-top: 15px;
  padding: 10px 30px;
}

label {
  font-family: 'Anton', sans-serif;
  color: #e52b50;
  font-size: 1.5em;
}

#contactForm {
  margin-top: 25px;
  width: 80%;
  margin: 0 auto;
}

.field {
  padding: 5px;
}



[type='text'], [type='password'], [type='tel'], [type='email'] {
  background-color: #dddddd;
}

#beAHero {
  color: white;
  background-color: #e52b50;
  font-family: 'Anton', sans-serif;
  border-radius: 45px;
  font-size: 2em;
  padding: 10px 20px;
  cursor: pointer;
}

#healthCardSection {
  text-align: center;
  margin-bottom: 45px;
}

#healthCardSection h3 {
  padding-top: 20px;
}

#forgottenEmail {
  width: 100%;
}

.headerVideo {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.headerBckgrd {
  position: absolute;
  top: 0;
  z-index: -1;
  background-repeat: no-repeat;
  height: 95%;
  width: 100%;
  background-image: url('../images/organ-gif.gif');
  background-position: center;
  filter: brightness(.5);
  background-color: #888888;
}

#heart {
  color: #e52b50;
}

.headerVideo img {
  height: 200px;
  margin-bottom: 20px;
}

.profilePic {
  padding: 40px;
  background-color: #888888;
  border-radius: 50%;
  color: white;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  float: left;
}

#profileForm {
  display: inline;
  margin: 0 auto;
}

#profileForm .pic {
  padding: 40px;
  background-color: #888888;
  border-radius: 50%;
  color: white;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  width: 75%;
  height: 300px;
  clear: both;
}

.pic label{
  margin-bottom: 45px;
  font-size: 1.5em;
  color: white;
}


#profileContainer {
  width: 60%;
}

.yourDrives h3 {
  margin-top: 20px;
  background-color: #e52b50;
  color: white;
  text-align: center;
  display: block;
  padding: 15px;
  width: 100%;
}

.yourDrives a {
  color: #e52b50;
  clear: both;
  font-family: 'Oxygen', sans-serif;
  float: right;
}

.personalDrives {
  background-color: #e52b50;
  color: white;
  padding: 10px;
  width: 49%;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.25em;
}

.picCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  background-color: #888888;
  float: left;
}

.personalInfo {
  margin-left: 15px;
  padding: 5px;
  background-color: #888888;
  overflow: hidden;
  margin-top: 10px;
}


.personalInfo h4{
  color: #e52b50;
  margin-right: 10px;
  background-color: #888888;
  padding: 0 5px;
  width: 50%;
  border-right: 5px solid #e52b50;
  float: left;
  text-align: center;
  margin-bottom: 0;
}

.personalInfo p{
  color: white;
  background-color: #888888;
  font-size: 1.25em;
  display: inline;
  float: right;
  text-align: left;
  width: 45%;
  margin-right: 10px;
  padding-top: 5px;
}

.centerSubmit {
  text-align: center;
}

.playCircle {
  float: left;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #e52b50;
}

.playTriangle {
  margin-left: 30px;
  margin-top: 10px;
  border: 35px solid transparent;
  border-left: 50px solid #e52b50;
  width: 0;
  height: 0;
}

.playButton {
  cursor: pointer;
  margin-top: 15px;
  display: inline-block;
}

.playButton h3 {
  margin-left: 15px;
  margin-top: 25px;
  float: right;
  color: #e52b50;
}

.videoBox .lightBox {
  background-color: #e52b50;
  padding: 15px 10px 15px 15px;
  width: 80%;
  height: 80%;
  color: white;
}

.videoBox .lightBox video {
  margin-top: 50px;
  width: 95%;
  height: 95%;
}

.arrowRight {
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 25px;
  margin-top: 25px;
  float: right;
}

.arrowLeft {
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 25px;
  margin-top: 25px;
  float: left;
}

/*Tablet*/
@media screen and (min-width: 40em) {
}

/*Desktop*/
@media screen and (min-width: 60em) {
}
